#calculator-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

button{
    width: 80px;
    height: 80px;
}

span{
    font-size: 60px;
}

.undo-button {
    width: 165px;
    height: 80px;
}

#total, #display{
    border-color: gray;
    border-style:solid;
    border-width: medium;
    width: 330px;
    height: 40px;
    text-align: center;
}